*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

.vs/


TestProject1/[Bb]in/*
TestProject1/[Oo]bj/*
TestProject1/[Oo]ut/*
TestResults/*

MyLib/[Bb]in/*
MyLib/[Oo]bj/*
MyLib/[Oo]ut/*
