<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CommonLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CommonLib.Properties.Settings>
            <setting name="MailServer" serializeAs="String">
                <value>gltdssmtp.quanta.corp</value>
            </setting>
            <setting name="SpecialCountry" serializeAs="String">
                <value>'CORK','HHCZ','HHLH','Syncreon'</value>
            </setting>
            <setting name="SoldTo" serializeAs="String">
                <value>PAL-DOA</value>
            </setting>
            <setting name="SFSoldTo" serializeAs="String">
                <value>SFPAL-DOA</value>
            </setting>
            <setting name="RunMode" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="MailFrom" serializeAs="String">
                <value>tds@quantatw.com</value>
            </setting>
            <setting name="CategoryList" serializeAs="String">
                <value>'Top Case','Housing','LCD','LCD AG','LCD GLOSSY','Bottom Case','Clutch Barrel','Glass','Battery', 'BATTERY CYCLE', 'Keyboard','TrackPad','Bezel'</value>
            </setting>
            <setting name="AppServer" serializeAs="String">
                <value>ofsvm04</value>
            </setting>
        </CommonLib.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Dynamic.Core" publicKeyToken="0f07ec44de6ac832" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.3.0" newVersion="1.4.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>